# config.cfg
INTERVAL=30 
RETENTION_HOURS=48
path=/opt/watcher/data
LOG=/opt/watcher/logs
BASE=/opt/watcher
RETENTION_HOURS=48
##Config for Alert
threshold=80        # CPU usage threshold (%)
max_occurrence=6    # Number of consecutive checks before triggering alert
EMAIL=annandy2002@gmail.com
FS_ALERT_THRESHOLD=80
FS_CLEAR_THRESHOLD=75
